__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.env
.env.*
!.env.example
!.env.*.example

.venv/
venv/
env/
koode-venv/

logs/
media/
staticfiles/

db.sqlite3
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.git/
.gitignore

